.cmLine {
  font-family: consolas, courier, monospace;
  font-size: 1.4rem;
}

.cmChordLine {
  font-weight: bold;
  white-space: pre-wrap;
  background-color: rgba(black, .1);
}

.cmBarSeparator {
  margin: 0 10px;
  color: #999;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
