@import '../abstract';
@import './common';

.cmTheme-boxes {
	@page {
		margin: .3in;
	}
	
	background-color: white;

	.cmSong {
		@include base;
		color: #333;
		font-size: 14px;
		line-height: 1.4em;
		font-family: 'Menlo', 'Courier New', Courier, monospace;
	}

	// Sections
	.cmSection {
		border: 1px solid black;
		border-radius: 8px;
		padding: .4em;
		margin: .2em 0 .2em 0;
		// below line only needed for wkhtmltopdf
		break-inside: avoid;
	}

	.cmChorusSection {
		background-color: #ededed;
	}

	.cmSectionLabel {
		font-weight: bold;
		font-size: .85em;
		text-transform:uppercase; 
	}
	.cmSectionMultiplier {
		font-weight: normal;
		text-decoration: unset;
		font-size: .95em;
	}

	// Time signature
	.cmTimeSignature {
		font-weight: bold;
	}

	// Chordline
	.cmChordLine {
		font-weight:bolder;
	}

	.cmBarSeparator {
		opacity: 0.5;
	}

	.cmChordDuration {
		opacity: 0.7;
	}
}
