@import '../abstract';
@import './common';

.cmTheme-dark2 {
	background-color: $dracula-background;

	.cmSong {
		@include base;
		color: $dracula-foreground;
	}

	// Sections
	.cmSectionLabel {
		color: $dracula-orange;
		font-weight: bold;
	}
	.cmSectionMultiplier {
		color: $dracula-yellow;
	}

	// Time signature
	.cmTimeSignature {
		color: $dracula-yellow;
		font-weight: bold;
	}

	// Key declaration
	.cmKeyDeclaration {
		color: $dracula-yellow;
		font-weight: bold;
	}

	// Chordline
	.cmChordLine {
		color: $dracula-cyan;
	}

	.cmBarSeparator {
		opacity: 0.5;
	}

	.cmChordDuration {
		opacity: 0.7;
	}

	.cmSubBeatGroupOpener,
	.cmSubBeatGroupCloser {
		opacity: 0.8;
		font-weight: bold;
	}

	.cmChordLine-romanNumeral,
	.cmRomanNumeral {
		color: $dracula-cyan;
	}

	.cmRomanNumeral-diatonic {
		font-weight: bold;
		color: $ccs-background;
		background-color: $dracula-cyan;
	}

	.cmRomanNumeral-borrowed {
		color: $ccs-background;
		background-color: rgba($dracula-cyan, 0.7);
	}

	.cmRomanNumeral-unknown {
		opacity: 0.8;
	}
}
