@import '../abstract';

.cmTheme-default {
  .cmSong {
    @include base;
    background-color: $dracula-background;
    color: $dracula-foreground;
  }

  // Sections
  .cmSectionLabel {
    color: $dracula-orange;
    font-weight: bold;
  }
  .cmSectionMultiplier {
    color: $dracula-yellow;
  }

  // Time signature
  .cmTimeSignature {
    color: $dracula-yellow;
    font-weight: bold;
  }

  // Chordline
  .cmChordLine {
    color: $dracula-cyan;
  }

  .cmBarSeparator {
    opacity: 0.5;
  }

  .cmChordDuration {
    opacity: 0.7;
  }
}
