@import '../abstract';
@import './common';

.cmTheme-print {
	background-color: white;

	.cmSong {
		@include base;
		color: #333;
		font-size: 12px;
	}

	// Sections
	.cmSectionLabel {
		font-weight: bold;
		text-decoration: underline;
	}
	.cmSectionMultiplier {
		font-weight: normal;
		text-decoration: unset;
	}

	// Time signature
	.cmTimeSignature {
		font-weight: bold;
	}

	// Chordline
	.cmChordLine {
	}

	.cmBarSeparator {
		opacity: 0.5;
	}

	.cmChordDuration {
		opacity: 0.7;
	}

	.cmSubBeatGroupOpener,
	.cmSubBeatGroupCloser {
		opacity: 0.7;
	}
}
