// https://spec.draculatheme.com/

$dt-background: #282a36;
$dt-selection: #44475a;
$dt-foreground: #f8f8f2;
$dt-comment: #6272a4;
$dt-cyan: #8be9fd;
$dt-green: #50fa7b;
$dt-orange: #ffb86c;
$dt-pink: #ff79c6;
$dt-purple: #bd93f9;
$dt-red: #ff5555;
$dt-yellow: #f1fa8c;
